body {
            font-family: 'Poppins', sans-serif;
            background: #e0f7fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #343434;
        }

        .container {
            text-align: center;
        }

        .card {
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
        }

        input {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 80%;
        }

        .refresh {
            background-color: #00acc1;
            border: none;
            /* color: white; */
            color: black;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        .refresh:hover {
            background-color: #00838f;
        }

        #icon {
            width: 100px;
        }